$color-tertiary: #99e2d0;

@import "./utils/mixins";

$color-primary: #9356dc;
$gradient:linear-gradient(0deg, #9356dc, #ff79da);

@import "./base/typography";

@import "./layout/header";
@import "./layout/loader";
@import "./layout/footer";

@import "./pages/location";
@import "./pages/explorer";
@import "./pages/cards";
@import "./pages/menus.scss";

@import "./components/buttons";

@import "./themes/foodies";




























































