.header {
    padding: 10px;
    box-shadow: 0 0 3px rgb(0,0,0,0.2);
    position: relative;
    z-index: 1;
    
    &_logo {
        margin: 0;
        font-family: 'Shrikhand', cursive;
        text-align: center;
    } 
    
}
