.header {

    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    
    &_logo {
        font-family: 'Shrikhand', cursive;
        text-align: center;
        margin: 0;
        padding: 10px;


    }
        
}