.loader {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ff79da;
    z-index: 1;
    animation: loader 3s;
    animation-fill-mode: forwards;

}

.circle {

    width: 200px;
    height: 200px;
    margin-top: 50px;
    position: absolute;
    border-radius: 50%;
    animation: circle 1s linear infinite;
    
}

.circle::before {

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(225, 225, 225, .3);
    border-radius: 50%;

}


@keyframes circle {

    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #ff79da;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #9356dc;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #f2f2f2;
    } 
}

@keyframes loader {

    from {

        transform: scale(1);
    
    }
    
    to {

        transform: scale(0);
        
    }

}
