.explorer_button {
        
    margin-top: 15px;
    padding: 14px;
    border: 1px none;
    border-radius: 50px;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    color: white;
    font-size: 15px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
}