.explorer {
    padding: 40px 50px 50px 10px;
    text-align: center;
    background-color: #f4f4f4a1;
    &_heading {
        margin: 0;
        font-size: 20px;
    }
    &_discover { 
        margin-top: 10px;
        font-size: 16px;
    }
}