.header{
    &_page {
        position: relative;
    }
    &_arrow {
        position: absolute;
        display: flex;
        top: 38%;
        left: 10%;
        color: black;
        font-size: x-large;
    }
}

.banner img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.restaurant-container {
    margin-top: -64px;
    position: relative;
    background-color: #f6f6f6;
    padding: 40px;
    border-radius: 50px 50px 0px 0px;
    z-index: 1;
}
.brand {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &_name {
        font-family: "shrikhand", "cursive";
        font-size: xx-large;
    }
    .fa-stack {
        position: relative;
        top: 0px;
        right: 10px;
        cursor: pointer;
        :nth-child(2) {
            position: absolute;
            color: transparent;
            transition: all 350ms ease-in-out;
            padding: 0px;
            &:hover {
                background: $gradient;
                transform: scale(1.02);
                background-clip: text;
                -webkit-background-clip: text;
            }
        
        }
    
    }
}

.food_container{
    display: flex;
    flex-direction: column;
    @media screen and (min-width:992px) {
        flex-direction: row;
        gap: 30px;
    }
}

.food_proposition {
    @media screen and (min-width:992px) {
        width: 30%;
    }
    &_title {
        text-transform: uppercase;
        border-bottom: 5px solid $color-tertiary;
        width: 4%;
        margin: 40px 0 20px 10px;
        height: 30px;
        font-weight: 400;
    }
}
.food_description {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    border: none;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 20%);
    animation: slideup 1000ms backwards;
    cursor: pointer;
    &:hover .check-container {
        margin-right: 0;
        transform: rotate(180deg);
        
        
    }
    
}
@keyframes slideup {
    0% {
        transform: translateX;
        opacity: 0%;
    }
    100% {
        transform: translateX;
        opacity: 100%;
    }
}
.food_details {
    margin: 20px 20px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &_name {
        margin: 0;
        font-size: x-large;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &_touch {
        margin-top: 10px;
        font-size: x-large;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
}
.food_price {
    margin: 67px 40px 0 auto;
    font-weight: bold;
}
.check-container {
    width: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0px 20px 20px 0;
    background-color: $color-tertiary;
    margin-right: -94px;
    &_validation {
        
        font-size: 30px;
        
        
    }
}
.button{
    display: flex;
    justify-content: center;
    &_order{
        @include button;
    }
}








