@mixin button {
    margin-top: 15px;
    padding: 20px 50px;
    border: 1px none;
    border-radius: 50px;
    background-image: $gradient;
    color: white;
    font-size: large;
    opacity: 0.8;
    transition-duration: .25s;
    &:hover {
        box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
        cursor: pointer;
        opacity: 1;
        transform: scale(1.02);
    }
}

@mixin hover {
    opacity: 0;
    transform: scale(1.02);
}

@mixin shadow {
    box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
}